:root{
    --bgc: #f1daa1b0;
    --lac: #8095ab;
    --mbc:#D68E65;
    --dac: #d06462c8;
    --txc: #412c30ba;
    }

header {
    
    background-color: var(--txc);
    width: 100%;
    padding: 10px;
    color: var(--bgc);
}
header h2 {
    color: var(--mbc);
}
#counter {
    color:var(--dac);
}
html, body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--txc);
    height:100%;
    width:100%;}   

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    margin: 10px;
    padding: 10px;
    width: 575px;
    background: var(--txc);
    color: var(--bgc)}  
.card{
    padding: 4px;
    margin: 4px;
}
.card-header{
    align-self:flex-start;
    color: var(--mbc);
}
.question{
    margin: 4px;
    padding: 4px;
    color: var(--mbc);
}
.quote{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 42px;
    margin: 4px;
    padding: 4px;
    color: var(--lac)
}
ol{
    padding-left: 0px;
}
#answer-list{
    list-style:inside;
    list-style-type: none;
}
#answer-list li {
    text-align: center;
    margin: 4px;
    padding: 4px;

}
#answer-list li:hover{
    background-color: var(--lac);
}

#answer-btn{
    border-radius: 4px;
    background-color: #75a556;
    color: white;
    border-style: hidden;
    font-size: 16px;
    padding: 3px;
    width: 50px;
}
#finish{
    border-radius: 4px;
    background-color: #75a556;
    color: white;
    border-style: hidden;
    font-size: 16px;
    padding: 3px;
    width: 60px;
}
#playAgain{
    border-radius: 4px;
    background-color: #75a556;
    color: white;
    border-style: hidden;
    font-size: 16px;
    padding: 3px;
    width: 80px;
}
footer {
    flex-shrink: 0;
    width: vh100;
    background-color:var(--txc);
    color: var(--bgc);
    padding: 10px;
    width: 100%;
}
.score {
    float:center;
    text-align: center;
}
.hsTable {
    margin: 5px;
    padding:5px;
    border: 2px dotted #D06462;
    background-color: var(--txc);
    text-align: center;
    border-collapse: collapse;
  }
  .hsTable td, .hsTable th {
    border: 1px dotted #D06462;
    padding: 3px 2px;
  }
  .hsTable th{
    color: var(--txc);
    background: var(--lac);
    font-weight: bold;
    font-size: 20px;

  }
  .hsTable td:first-child{
    border-top-left-radius: 9;
  }
  .hsTable thead th {
    font-size: 25px;
    font-weight: bold;
    color: #412C30;
    text-align: center;
  }